header img{
    position: relative;
    z-index: -1;
    object-position: center;
}

.header-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top:15vw;
    left: 10%;
    font-size: 4vw;
    font-family: "Protest Strike", sans-serif;
}